body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(190, 189, 189);
    font-size: large;
}

.greeting-widget-box {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #333;
}

.greetings {
    margin-bottom: 10px;
    font-size: large;
}

.input {
    width: 60%;
    height: 18px;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.greetBtn {
    background-color: #6f746f;
    color: white;
    padding: 10px 20px;
    width: 120px;
    cursor: pointer;
}

.greetBtn:hover,
.reset:hover {
    background-color: #45a049;
}

#languageSelection {
    margin-bottom: 10px;
    margin-top: 15px;
}

.error-message {
    font-size: x-large;
    font-style: italic;
    color: red;
}

#count {
    font-weight: bold;
}

.greetings {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.reset {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #545a54;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}